    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Karla:wght@800&display=swap");
     :root {
        --clr-bright-green: #55f991;
        --clr-dark-green: #10b981;
        --clr-very-dark-blue: #1f2937;
        --clr-dark-blue: #273549;
        --clr-medium-grey: #d5d4d8;
        --ff-main: "Karla", sans-serif;
        --ff-serif: "Inter", sans-serif;
    }
    
    *,
    *::before,
    *::after {
        box-sizing: border-box;
        margin: 0;
    }
    
    img {
        display: block;
        width: 100%;
    }
    
    body {
        background: #1C1C1C;
        color: black;
        font-family: var(--ff-main);
    }
    
    h1 {
        font-family: var(--ff-main);
        font-weight: 800;
        margin: 0.25em 0;
    }
    
    h2 {
        color: var(--clr-medium-grey);
        font-size: 1.1em;
        font-weight: 400;
        margin-bottom: 1em;
    }
    
    hr {
        position: absolute;
        width: 446px;
        height: 0px;
        left: 42px;
        top: 361px;
        border: 1px solid #D5D4D8;
    }
    
    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }
    
    .container {
        display: fle;
        position: absolute;
        width: 550px;
        height: 550px;
        background: #ECFDF5;
        align-items: center;
    }
    
    .title {
        position: absolute;
        width: 332px;
        height: 80px;
        left: 52px;
        top: 100px;
    }
    
    .title-green {
        color: #10B981;
    }
    
    .supportingTitle {
        position: absolute;
        width: 372px;
        height: 28px;
        left: 52px;
        top: 185px;
        /* text-xl/leading-7/font-normal */
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        /* identical to box height, or 140% */
        color: #6B7280;
    }
    /* Slider */
    
    input::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        position: relative;
        box-sizing: border-box;
        background: whitesmoke;
        width: 100%;
        height: 16px;
        border-radius: 5px;
        overflow: hidden;
    }
    
    input::-webkit-slider-thumb {
        position: relative;
        left: initial;
        bottom: 5px;
        -webkit-appearance: none;
        background-color: var(--clr-very-dark-blue);
        width: 10px;
        height: 10px;
        border-radius: 20px;
        box-shadow: -340px 0 0 320px #273549, inset 0 0 0 40px #273549, 340px 0 0 320px #10B981, inset 0 0 0 40px #1597ff;
        margin-top: 5px;
    }
    
    .slider-el {
        position: absolute;
        top: 250px;
        left: 52px;
        font-size: small;
        color: #6B7280;
    }
    
    #length-value {
        color: #10B981;
    }
    
    button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 9px 17px 9px 15px;
        gap: 12px;
        position: absolute;
        width: 191px;
        height: 42px;
        left: 52px;
        top: 294px;
        background: #10B981;
        border-radius: 6px;
        color: #ECFDF5;
        border: none;
    }
    
    .passwordSection {
        display: flex;
        justify-content: space-between;
    }
    
    #password1-el {
        position: absolute;
        width: 211px;
        height: 39px;
        left: 52px;
        top: 396px;
        background: #273549;
        border-radius: 6px;
        text-align: center;
        padding: 0.5em 1em;
        border-radius: 0.25em;
    }
    
    #password2-el {
        position: absolute;
        width: 211px;
        height: 39px;
        left: 287px;
        top: 396px;
        background: var(--clr-dark-blue);
        border-radius: 6px;
        text-align: center;
        padding: 0.5em 1em;
        border-radius: 0.25em;
    }